streamlit>=1.36.0
pandas==2.3.3
numpy==2.3.5
scikit-learn==1.7.2
matplotlib==3.10.7
seaborn==0.13.2
plotly==6.5.0
imbalanced-learn==0.14.0
joblib==1.5.2
streamlit-antd-components==0.3.2
streamlit-extras==0.7.8